<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Amazon Free Samples</title>
    <meta name="description" content="Amazon Free Samples">
    <meta name="keywords" content="coupon codes, deals, promo codes, printable coupons">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, user-scalable=no">
    <link rel="shortcut icon" sizes="57x57" href="__PUBLIC__/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/images/favicon.ico">
    <link rel="icon" sizes="192x192" href="__PUBLIC__/images/favicon.ico">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/css/main.css">
    <link rel="stylesheet" href="__PUBLIC__/css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/css/blog.css">
    {include file="public/detect-gt-ie9" /}
</head>
<body>
{include file="public/naver" /}
<div id="q0" class="header-t"></div>
<div class="help-container container mt50">
    <div class="col-sm-12">
        <ul class="help-question-list row" >
            <li class="col-md-12 fs22 lh1 pt5 pb5"><a href="#q1" class="q-list help-a">How does this website work?</a></li>
            <li class="col-md-12 fs22 lh1 pt5 pb5"><a href="#q2" class="q-list help-a">When and how can I get the rebate?</a></li>
            <li class="col-md-12 fs22 lh1 pt5 pb5"><a href="#q3" class="q-list help-a">Is the rebate guaranteed?</a></li>
            <li class="col-md-12 fs22 lh1 pt5 pb5"><a href="#q4" class="q-list help-a">Does this rebate exchange for review model comply with Amazon regulation?</a></li>
            <li class="col-md-12 fs22 lh1 pt5 pb5"><a href="#q5" class="q-list help-a">How to leave reviews?</a></li>
            <li class="col-md-12 fs22 lh1 pt5 pb5"><a href="#q6" class="q-list help-a">How to submit reviews?</a></li>
            <li class="col-md-12 fs22 lh1 pt5 pb5"><a href="#q7" class="q-list help-a">How to find the correct review link?</a></li>
            <li class="col-md-12 fs22 lh1 pt5 pb5"><a href="#q8" class="q-list help-a">Is 5-star review required?</a></li>
            <li class="col-md-12 fs22 lh1 pt5 pb5"><a href="#q9" class="q-list help-a">Is there any requirement of the review?</a></li>
            <li class="col-md-12 fs22 lh1 pt5 pb5"><a href="#q10" class="q-list help-a">What can I do if there is no verified purchased sign on my review?</a></li>
            <li class="col-md-12 fs22 lh1 pt5 pb5"><a href="#q11" class="q-list help-a">When does website update the site with new products?</a></li>
            <li class="col-md-12 fs22 lh1 pt5 pb5"><a href="#q12" class="q-list help-a">Any of my personal information will be provided to seller?</a></li>
            <li class="col-md-12 fs22 lh1 pt5 pb5"><a href="#q13" class="q-list help-a">Can I select any color or size?</a></li>
            <li class="col-md-12 fs22 lh1 pt5 pb5"><a href="#q14" class="q-list help-a">How to cancel the deal I don’t want?</a></li>
            <li class="col-md-12 fs22 lh1 pt5 pb5"><a href="#q15" class="q-list help-a">What can I do if the product is already de-listed?</a></li>
            <li class="col-md-12 fs22 lh1 pt5 pb5"><a href="#q16" class="q-list help-a">Can I return the product after review it?</a></li>
            <li class="col-md-12 fs22 lh1 pt5 pb5"><a href="#q17" class="q-list help-a">How to increase the deal limit?</a></li>
            <li class="col-md-12 fs22 lh1 pt5 pb5"><a href="#q18" class="q-list help-a">What can I do if I reach to the highest level 8?</a></li>
            <li class="col-md-12 fs22 lh1 pt5 pb5"><a href="#q19" class="q-list help-a">What does the error 'The review is not verified purchased' mean?</a></li>
            <li class="col-md-12 fs22 lh1 pt5 pb5"><a href="#q20" class="q-list help-a">What does the error 'The reivew is not written by you' mean?</a></li>
        </ul>
    </div>
</div>
<div class="help-container container mt30 mb50">
    <div class="col-sm-12">
        <div class="help-detail row">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 question" id="q1">How does this website work?</div>
                <div class="col-xs-4 col-sm-4 col-md-4 backToTop"><a href="#q0" class="back-top pull-right help-a">back to top</a></div>
            </div>
            <p class="col-sm-12 answer">Amazon sellers publish FREE SAMPLES here to encourage buyers to experience their products.</p>
            <p class="col-sm-12 answer">As a buyer, follow the steps below to get your unlimited free samples.</p>
            <p class="col-sm-12 answer">1. Browse and select products you like on our site. Place order on Amazon.</p>
            <p class="col-sm-12 answer">2. Try out your new purchase. Share your honest product review on Amazon.</p>
            <p class="col-sm-12 answer">3. Submit your review link and paypal account to us. We will rebate full product price into your Paypal account in one business day.</p>
        </div>
        <div class="help-detail row">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 question" id="q2">When and how can I get the rebate?</div>
                <div class="col-xs-4 col-sm-4 col-md-4 backToTop"><a href="#q0" class="back-top pull-right help-a">back to top</a></div>
            </div>
            <p class="col-sm-12 answer">After you submit the review link, the rebate will be sent to your paypal account in one business day.</p>
        </div>
        <div class="help-detail row">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 question" id="q3">Is the rebate guaranteed?</div>
                <div class="col-xs-4 col-sm-4 col-md-4 backToTop"><a href="#q0" class="back-top pull-right help-a">back to top</a></div>
            </div>
            <p class="col-sm-12 answer">The rebated is reserved in our escrow account, so it's 100% guaranteed.</p>
        </div>
        <div class="help-detail row">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 question" id="q4">Does this rebate exchange for review model comply with Amazon regulation?</div>
                <div class="col-xs-4 col-sm-4 col-md-4 backToTop"><a href="#q0" class="back-top pull-right help-a">back to top</a></div>
            </div>
            <p class="col-sm-12 answer">Amazon has its own Vine Program providing free products to high ranked reviewers.</p>
            <p class="col-sm-12 answer">We believe every reviewer deserves free samples as long as his/her reviews are unbiased and valuable.</p>
        </div>
        <div class="help-detail row">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 question" id="q5">How to leave reviews?</div>
                <div class="col-xs-4 col-sm-4 col-md-4 backToTop"><a href="#q0" class="back-top pull-right help-a">back to top</a></div>
            </div>
            <p class="col-sm-12 answer">(1) Log in your Amazon account.</p>
            <p class="col-sm-12 answer">(2) Go to Your orders.</p>
            <p class="col-sm-12 answer">(3) Find out the product and click the button "Write a product review".</p>
        </div>
        <div class="help-detail row">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 question" id="q6">How to submit reviews?</div>
                <div class="col-xs-4 col-sm-4 col-md-4 backToTop"><a href="#q0" class="back-top pull-right help-a">back to top</a></div>
            </div>
            <p class="col-sm-12 answer">Log in our website, go to page ‘Deal Manager’and then submit the review link.</p>
        </div>
        <div class="help-detail row">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 question" id="q7">How to find the correct review link?</div>
                <div class="col-xs-4 col-sm-4 col-md-4 backToTop"><a href="#q0" class="back-top pull-right help-a">back to top</a></div>
            </div>
            <p class="col-sm-12 answer">step 1: find the review and click the title</p>
            <p class="col-sm-12 answer">step 2: copy the url and then submit it in our website</p>
            <p><img src="__PUBLIC__/images/findreviewlink.png"></p>
            <p class="mt15"><img src="__PUBLIC__/images/findreviewlink1.png"></p>
        </div>
        <div class="help-detail row">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 question" id="q8">Is 5-star review required?</div>
                <div class="col-xs-4 col-sm-4 col-md-4 backToTop"><a href="#q0" class="back-top pull-right help-a">back to top</a></div>
            </div>
            <p class="col-sm-12 answer">NO, it is not required. We encourage you to write honest and helpful reviews.</p>
        </div>
        <div class="help-detail row">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 question" id="q9">Is there any requirement of the review?</div>
                <div class="col-xs-4 col-sm-4 col-md-4 backToTop"><a href="#q0" class="back-top pull-right help-a">back to top</a></div>
            </div>
            <p class="col-sm-12 answer">Yes. It should be your real experience of the product and it should be a verified purchase review.</p>
        </div>
        <div class="help-detail row">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 question" id="q10">What can I do if there is no verified purchased sign on my review?</div>
                <div class="col-xs-4 col-sm-4 col-md-4 backToTop"><a href="#q0" class="back-top pull-right help-a">back to top</a></div>
            </div>
            <p class="col-sm-12 answer">We only send rebate for VP reviews.</p> 
            <p class="col-sm-12 answer">There are two options. Keep it if you like it or return it to Amazon if you don’t like it.</p>
        </div>
        <div class="help-detail row">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 question" id="q11">When does website update the site with new products?</div>
                <div class="col-xs-4 col-sm-4 col-md-4 backToTop"><a href="#q0" class="back-top pull-right help-a">back to top</a></div>
            </div>
            <p class="col-sm-12 answer">1.	New product releasing could happen at any time, because we are trying to get good deal to shopper/reviewer as soon as possible.</p>
            <p class="col-sm-12 answer">2.	Some deals may dispear due to daily quota, but it will be back the next day.</p>
        </div>
        <div class="help-detail row">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 question" id="q12">Any of my personal information will be provided to seller?</div>
                <div class="col-xs-4 col-sm-4 col-md-4 backToTop"><a href="#q0" class="back-top pull-right help-a">back to top</a></div>
            </div>
            <p class="col-sm-12 answer">No, absolutely NOT. AmzReviewRebate.com does not have any of your personal information, except your registered Email address and Amazon reviewer profile.</p>
            <p class="col-sm-12 answer">Seller may get access to your other inform from other channels after you made the purchase, for example through Amazon seller's account.</p>
        </div>
        <div class="help-detail row">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 question" id="q13">Can I select any color or size?</div>
                <div class="col-xs-4 col-sm-4 col-md-4 backToTop"><a href="#q0" class="back-top pull-right help-a">back to top</a></div>
            </div>
            <p class="col-sm-12 answer">Yes. You can select any color and size.</p>
        </div>
        <div class="help-detail row">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 question" id="q14">How to cancel the deal I don’t want?</div>
                <div class="col-xs-4 col-sm-4 col-md-4 backToTop"><a href="#q0" class="back-top pull-right help-a">back to top</a></div>
            </div>
            <p class="col-sm-12 answer">Log in our website and go to page ‘Deal Manager’. Find the deal and click the button ‘cancel’</p>
        </div>
        <div class="help-detail row">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 question" id="q15">What can I do if the product is already de-listed?</div>
                <div class="col-xs-4 col-sm-4 col-md-4 backToTop"><a href="#q0" class="back-top pull-right help-a">back to top</a></div>
            </div>
            <p class="col-sm-12 answer">If you already purchased the product, please return it to Amazon. Otherwise, please cancel the deal </p>
        </div>
        <div class="help-detail row">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 question" id="q16">Can I return the product after review it?</div>
                <div class="col-xs-4 col-sm-4 col-md-4 backToTop"><a href="#q0" class="back-top pull-right help-a">back to top</a></div>
            </div>
            <p class="col-sm-12 answer">No, you can not do that. It's against our policy and you will be blocked from this site if you did that.</p>
        </div>
        <div class="help-detail row">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 question" id="q17">How to increase the deal limit?</div>
                <div class="col-xs-4 col-sm-4 col-md-4 backToTop"><a href="#q0" class="back-top pull-right help-a">back to top</a></div>
            </div>
            <p class="col-sm-12 answer">Deal limit depends on your reviewer level. The higher level you are, the more deals you can request. For example, you can request at most 3 deals if your level is 3 while you can request 5 deals if your level is 5.</p>
            <p class="col-sm-12 answer">To get higher level, you just need earn review & rebate points by providing high quality reviews. You level would be upgraded by one for each ten points. High quality review here means:</p>
            <p class="col-sm-12 answer">1. Detailed review. You can get one point if submit a review with more than 200 characters.</p>
            <p class="col-sm-12 answer">2. Review with photo or video. You can get one point if submit a review with photos or videos.</p>
            <p class="col-sm-12 answer">But, if your review submitted is poor quality, your points would be decreased.</p>
            <p class="col-sm-12 answer">1. Review removed. Your points will be decreased by two if review is removed by Amazon.</p>
            <p class="col-sm-12 answer">2. Review too short. Your points will be decreased by one if review is too short.</p>
            <p class="col-sm-12 answer">3. Review plagiarized. Your points will be decreased by one if review is same to others.</p>
        </div>
        <div class="help-detail row">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 question" id="q18">What can I do if I reach to the highest level 8?</div>
                <div class="col-xs-4 col-sm-4 col-md-4 backToTop"><a href="#q0" class="back-top pull-right help-a">back to top</a></div>
            </div>
            <p class="col-sm-12 answer">Since Amazon don’t allow people write reviews too frequently. I limit the highest level to 8. We will provide more benefit for your accumulated points.</p>
        </div>
        <div class="help-detail row">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 question" id="q19">What does the error 'The review is not verified purchased' mean?</div>
                <div class="col-xs-4 col-sm-4 col-md-4 backToTop"><a href="#q0" class="back-top pull-right help-a">back to top</a></div>
            </div>
            <p class="col-sm-12 answer">Usually if you buy the product from Amazon and then write a review, there will be a sign 'verified purchase' on your review.</p>
            <p class="col-sm-12 answer">But occasionaly, Amazon miss to put the verified purchase sign on review even you bought from Amazon.</p>
            <p class="mt15"><img src="__PUBLIC__/images/question-verify.png"></p>
        </div>
        <div class="help-detail row">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 question" id="q20">What does the error 'The reivew is not written by you' mean?</div>
                <div class="col-xs-4 col-sm-4 col-md-4 backToTop"><a href="#q0" class="back-top pull-right help-a">back to top</a></div>
            </div>
            <p class="col-sm-12 answer">That means the review author's Amazon profile is different to your profile recorded in our system when you signed up.</p>
            <p class="mt15"><img src="__PUBLIC__/images/question-account.jpg"></p>
            <p class="mt15"><img src="__PUBLIC__/images/question-account02.png"></p>
        </div>
    </div>
</div>
{include file="public/footer" /}
</body>
</html>
