<!-- <html>
    <h1>Hollo Word ..</h1>
    <h2>{$Think.session.BUYERID}</h2>
</html> -->
<!DOCTYPE html>
<html data-path="/" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{:config('DOMAINTITLE')}</title>
    <meta name="description" content="Amazon Free Samples">
    <meta name="keywords" content="coupon codes, deals, promo codes, printable coupons">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, user-scalable=no">
    <link rel="shortcut icon" sizes="57x57" href="__PUBLIC__/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/images/favicon.ico">
    <link rel="icon" sizes="192x192" href="__PUBLIC__/images/favicon.ico">
    <link rel="stylesheet" href="__PUBLIC__/css/animate.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/css/magnific-popup.css">
    <link rel="stylesheet" href="__PUBLIC__/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
    <include file="Index/detect-gt-ie9" />
</head>
<body>
{include file="index/naver"}

</body>
</html>