<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Amazon Free Samples</title>
    <meta name="description" content="Amazon Free Samples">
    <meta name="keywords" content="coupon codes, deals, promo codes, printable coupons">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, user-scalable=no">
    <link rel="shortcut icon" sizes="57x57" href="__PUBLIC__/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/images/favicon.ico">
    <link rel="icon" sizes="192x192" href="__PUBLIC__/images/favicon.ico">
	<link href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/css/main.css">
    <link rel="stylesheet" href="__PUBLIC__/css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/css/blog.css">
	{include file="public/detect-gt-ie9" /}
</head>
<body style="background-color: #fff">
{include file="public/naver" /}
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/howitworks.css" />
	<div class="how-wrapper">
		<section class="how-section how-section-header">
			<h1 class="how-title">Free <span class="how-blue">Samples</span>, for Honest <span class="how-green">Reviews</span></h1>
			<div class="how-desc">Full price purchase. Try it and write an honest review. Then 100% Factory rebate</div>
		</section>
		<section class="how-section how-banner-section how-works-section">
			<h2 class="how-title">How it works</h2>
		</section>
		<section class="how-section how-cols-section how-how-it-works-cols-section">
			<div class="how-cols-set how-cols-3">
				<div class="how-col how-col-1">
					<img src="__PUBLIC__/images/how-select-bargain.jpg" title="Purchase Product" alt="Purchase Product" />
					<h3 class="how-col-title">1 - PURCHASE PRODUCT</h3>
					<div class="how-col-desc">Apply free sample you like. Place order on Amazon after approval.</div>
				</div>
				<div class="how-col how-col-3">
					<img src="__PUBLIC__/images/how-review-product.jpg" title="REVIEW PRODUCT" alt="Review product"  />
					<h3 class="how-col-title">2 - REVIEW PRODUCT</h3>
					<div class="how-col-desc">Try out your new purchase. Share your honest product review on Amazon.</div>
				</div>
				<div class="how-col how-col-2">
					<img src="__PUBLIC__/images/how-purchase-deal.jpg" title="Factory Rebate" alt="Factory Rebate" />
					<h3 class="how-col-title">3 - FACTORY REBATE </h3>
					<div class="how-col-desc">Submit review url then full price rebate will be sent into your paypal account right away.</div>
				</div>

			</div>
		</section>
		<section class="how-section how-banner-section how-deal-section">
			<h2 class="how-title">Why such great deal?</h2>
			<div class="how-desc">Amazon Merchants need your purchase and test to</div>
		</section>
		<section class="how-section how-cols-section how-deal-cols-section">
			<div class="how-cols-set how-cols-3">
				<div class="how-col how-col-1">
					<img src="__PUBLIC__/images/how-validate-product.jpg" title="Validate product" alt="Validate product"  />
					<h3 class="how-col-title">1 - Validate product</h3>
				</div>
				<div class="how-col how-col-2">
					<img src="__PUBLIC__/images/how-increase-social-proof.jpg" title="Increase social proof" alt="Increase social proof" />
					<h3 class="how-col-title">2 - Increase social proof</h3>
				</div>
				<div class="how-col how-col-3">
					<img src="__PUBLIC__/images/how-improve-ranking.jpg" title="Improve ranking" alt="Improve ranking"  />
					<h3 class="how-col-title">3 - Improve ranking</h3>
				</div>
			</div>
		</section>
	</div>
{include file="public/footer" /}
</body>
</html>